
.ventanaAD {
    position:absolute;
    background-color: #1f1f1f;
    color: white;
    top: 11%;
    height: 34.5%;
    width: 370px;
    transform: translateX(-300%);
    transition: all 0.4s;
    overflow:auto;
    margin : 0;
    padding: 0;
}

.ventanaAD--open {
    transform: translateX(0%);
}